pre.console_out {
    color: #fef9e7;
    background-color: #17202a;
    font-weight: bold;
    font: 1.5rem Inconsolata, monospace;
} 

.even {
    background-color: aliceblue !important;
}
.odd {
    background-color: lightcyan !important;
}

.first {
    background-color: coral !important;
}